.flexbox-item{
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 3px solid gold;
    background-color:grey;
} 

.flexbox-item-1{
  flex-basis: 100px; 
}

.flexbox-item-2{
   
    flex-basis: 500px;
}

.flexbox-item-3{
    flex-basis:200px; 
}

.flexbox-item-4{
    flex-basis:300px; 
}

.flexbox-container{
    display: flex;
    justify-content:center; 
    align-items: flex-start; 
    border: 2px solid black;
    height: 800px;
}